Repository Gaby-Station/Gaby-Station, pull requests merged in 2024-11, with the labels that each got.

#4 Canvas de desenho
  .gitmodules
  Content.Client/_Gabystation/Canvas/CanvasComponent.cs
  Content.Client/_Gabystation/Canvas/CanvasSystem.cs
  Content.Client/_Gabystation/Canvas/Ui/CanvasBoundUserInterface.cs
  Content.Client/_Gabystation/Canvas/Ui/CanvasWindow.xaml
  Content.Client/_Gabystation/Canvas/Ui/CanvasWindow.xaml.cs
  Content.Server/_Gabystation/Canvas/CanvasComponent.cs
  Content.Server/_Gabystation/Canvas/CanvasSystem.cs
  Content.Shared/_Gabystation/Canvas/SharedCanvasComponent.cs
  Content.Shared/_Gabystation/Canvas/SharedCanvasSystem.cs
  Resources/Prototypes/_Gabystation/Entities/Objects/Fun/canvas.yml
  Resources/Prototypes/_Gabystation/Recipes/Crafting/Graphs/improvised/canvas.yml
  Resources/Prototypes/_Gabystation/Recipes/Crafting/Graphs/improvised/canvas_big.yml
  Resources/Prototypes/_Gabystation/Recipes/Crafting/improvised.yml
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/11x11.png
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/19x19.png
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/23x19.png
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/23x23.png
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/easel.png
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/icon.png
  Resources/Textures/_Gabystation/Objects/Misc/artsutff.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#7 Pasta Actions 99,8% traduzida.
  Resources/Locale/pr-BR/actions/actions/actions-commands.ftl
  Resources/Locale/pr-BR/actions/actions/blocking.ftl
  Resources/Locale/pr-BR/actions/actions/combat-mode.ftl
  Resources/Locale/pr-BR/actions/actions/crit.ftl
  Resources/Locale/pr-BR/actions/actions/diona.ftl
  Resources/Locale/pr-BR/actions/actions/disarm-action.ftl
  Resources/Locale/pr-BR/actions/actions/dragon.ftl
  Resources/Locale/pr-BR/actions/actions/egg-lay.ftl
  Resources/Locale/pr-BR/actions/actions/internals.ftl
  Resources/Locale/pr-BR/actions/actions/mapping.ftl
  Resources/Locale/pr-BR/actions/actions/mask.ftl
  Resources/Locale/pr-BR/actions/actions/polymorph.ftl
  Resources/Locale/pr-BR/actions/actions/sleep.ftl
  Resources/Locale/pr-BR/actions/actions/spells.ftl
  Resources/Locale/pr-BR/actions/actions/spider.ftl
  Resources/Locale/pr-BR/actions/actions/suicide.ftl
  Resources/Locale/pr-BR/actions/actions/wagging.ftl
  Resources/Locale/pr-BR/actions/ui/actionmenu.ftl
  Resources/Locale/pr-BR/actions/ui/actionslot.ftl
Labels: No C#

#6 Traducao
  Resources/Locale/en-US/alert-levels/alert-level-command.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/anchorable/anchorable-component.ftl
  Resources/Locale/en-US/battery/components/battery-drainer-component.ftl
  Resources/Locale/en-US/battery/components/examinable-battery-component.ftl
  Resources/Locale/en-US/bed/cryostorage/cryogenic-storage.ftl
  Resources/Locale/en-US/character-info/components/character-info-component.ftl
  Resources/Locale/en-US/discord/round-notifications.ftl
  Resources/Locale/en-US/discord/vote-notifications.ftl
  Resources/Locale/en-US/disease/disease.ftl
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Locale/en-US/job/job.ftl
  Resources/Locale/en-US/job/loadouts.ftl
  Resources/Locale/en-US/job/role-requirements.ftl
  Resources/Locale/en-US/job/role-whitelist.ftl
  Resources/Locale/en-US/tools/components/lattice-cutting-component.ftl
  Resources/Locale/en-US/tools/components/multiple-tool-component.ftl
  Resources/Locale/en-US/tools/components/tool-openable-component.ftl
  Resources/Locale/en-US/tools/components/weldable-component.ftl
  Resources/Locale/en-US/tools/components/welder-component.ftl
  Resources/Locale/en-US/tools/tool-qualities.ftl
Labels: No C#, Status: Needs Review

#9 Adiciona cabelo e Barba para a raça Moth.
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Species/moth.yml
Labels: No C#

#12 Cargo + Coisinhas a mais
  Resources/Locale/pt-BR/cable/cable-multitool-system.ftl
  Resources/Locale/pt-BR/candle/extinguish-on-interact-component.ftl
  Resources/Locale/pt-BR/cargo/bounties.ftl
  Resources/Locale/pt-BR/cargo/cargo-bounty-console.ftl
  Resources/Locale/pt-BR/cargo/cargo-console-component.ftl
  Resources/Locale/pt-BR/cargo/cargo-console-order-component.ftl
  Resources/Locale/pt-BR/cargo/cargo-order-database-component.ftl
  Resources/Locale/pt-BR/cargo/cargo-pallet-console-component.ftl
  Resources/Locale/pt-BR/cargo/price-gun-component.ftl
  Resources/Locale/pt-BR/cargo/qm-clipboard.ftl
  Resources/Locale/pt-BR/changelog/changelog-window.ftl
  Resources/Locale/pt-BR/character-appearance/components/humanoid-appearance-component.ftl
  Resources/Locale/pt-BR/character-appearance/components/magic-mirror-component.ftl
  Resources/Locale/pt-BR/character-info/components/character-info-component.ftl
  Resources/Locale/pt-BR/components/atmos-unsafe-unanchor-component.ftl
  Resources/Locale/pt-BR/components/base-computer-ui-component.ftl
  Resources/Locale/pt-BR/components/gas-canister-component.ftl
  Resources/Locale/pt-BR/components/gas-filter-component.ftl
  Resources/Locale/pt-BR/components/gas-mixer-component.ftl
  Resources/Locale/pt-BR/components/gas-pump-component.ftl
  Resources/Locale/pt-BR/components/gas-thermomachine-component.ftl
  Resources/Locale/pt-BR/components/ghost-component.ftl
  Resources/Locale/pt-BR/components/power-monitoring-component.ftl
  Resources/Locale/pt-BR/components/space-heater-component.ftl
  Resources/Locale/pt-BR/components/station-anchor-component.ftl
  Resources/Locale/pt-BR/components/storage-component.ftl
  Resources/Locale/pt-BR/crew-manifest/crew-manifest.ftl
  Resources/Locale/pt-BR/emag/emag.ftl
Labels: No C#

#16 Corrige problemas de cabelo e barba para moth.
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/Species/moth.yml
Labels: No C#

#15 Remove o esqueleto da lista de spawn aleatórios
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#20 Tradução do metamorfo
  Resources/Locale/pt-BR/Changeling/abilities/changeling.ftl
  Resources/Locale/pt-BR/Changeling/administration/antag.ftl
  Resources/Locale/pt-BR/Changeling/alerts/alerts.ftl
  Resources/Locale/pt-BR/Changeling/game-ticking/game-presets/preset-changeling.ftl
  Resources/Locale/pt-BR/Changeling/guidebook/guides.ftl
  Resources/Locale/pt-BR/Changeling/objectives/changeling.ftl
  Resources/Locale/pt-BR/Changeling/popup/changeling.ftl
  Resources/Locale/pt-BR/Changeling/prototypes/roles/antags.ftl
  Resources/Locale/pt-BR/Changeling/radio_channels.ftl
  Resources/Locale/pt-BR/Changeling/store/categories.ftl
  Resources/Locale/pt-BR/Changeling/store/changeling-catalog.ftl
  Resources/Locale/pt-BR/Changeling/store/currency.ftl
Labels: No C#

#24 + Traduções / Atualização da branch principal
  Resources/Locale/pt-BR/alert-levels/alert-level-command.ftl
  Resources/Locale/pt-BR/alert-levels/alert-levels.ftl
  Resources/Locale/pt-BR/anchorable/anchorable-component.ftl
  Resources/Locale/pt-BR/disease/disease.ftl
  Resources/Locale/pt-BR/disease/miasma.ftl
  Resources/Locale/pt-BR/job/departament-desc.ftl
  Resources/Locale/pt-BR/job/departament.ftl
  Resources/Locale/pt-BR/job/job-description.ftl
  Resources/Locale/pt-BR/job/job.ftl
  Resources/Locale/pt-BR/job/job_names.ftl
  Resources/Locale/pt-BR/job/job_supervisors.ftl
  Resources/Locale/pt-BR/job/loadouts.ftl
  Resources/Locale/pt-BR/job/role-requirements.ftl
  Resources/Locale/pt-BR/job/role-whitelist.ftl
  Resources/Locale/pt-BR/tips.ftl
  Resources/Locale/pt-BR/tips/tips-system.ftl
  Resources/Locale/pt-BR/tools/components/lattice-cutting-component.ftl
  Resources/Locale/pt-BR/tools/components/multiple-tool-component.ftl
  Resources/Locale/pt-BR/tools/components/tool-openable-component.ftl
  Resources/Locale/pt-BR/tools/components/weldable-component.ftl
  Resources/Locale/pt-BR/tools/components/welder-component.ftl
  Resources/Locale/pt-BR/tools/tool-qualities.ftl
Labels: No C#

#23 Resprite security belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_Gabystation/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/_Gabystation/Clothing/Belt/security.rsi/icon.png
  Resources/Textures/_Gabystation/Clothing/Belt/security.rsi/inhand-left.png
  Resources/Textures/_Gabystation/Clothing/Belt/security.rsi/inhand-right.png
  Resources/Textures/_Gabystation/Clothing/Belt/security.rsi/meta.json
Labels: Changes: Sprites, No C#

#25 Resprite paredes da shuttle
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/full.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/meta.json
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/shuttle_construct-0.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/shuttle_construct-1.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/shuttle_construct-2.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/shuttle_construct-3.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/shuttle_construct-4.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/shuttle_construct-5.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state0.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state1.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state2.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state3.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state4.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state5.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state6.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle.rsi/state7.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle_diagonal.rsi/meta.json
  Resources/Textures/_Gabystation/Structures/Walls/shuttle_diagonal.rsi/state0.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttle_diagonal.rsi/state1.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/full.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/meta.json
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state0.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state1.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state2.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state3.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state4.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state5.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state6.png
  Resources/Textures/_Gabystation/Structures/Walls/shuttleinterior.rsi/state7.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/full.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/meta.json
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow0.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow1.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow2.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow3.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow4.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow5.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow6.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window.rsi/swindow7.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window_diagonal.rsi/meta.json
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window_diagonal.rsi/state0.png
  Resources/Textures/_Gabystation/Structures/Windows/shuttle_window_diagonal.rsi/state1.png
Labels: Changes: Sprites, No C#

#21 Retira evento de necromorfos e faz alguns balanceamentos
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/Animals/Tucano.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/Necromorph/Necromorph.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Gabystation/GameRules/GabyEvents.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#29 Addgaxholotest
  Resources/Maps/_Gabystation/gaxstation.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: No C#, Changes: Map

#27 Patch, tradução + atualizações
  Resources/Locale/pt-BR/_Goobstation/job/job-description.ftl
  Resources/Locale/pt-BR/_Goobstation/job/job-names.ftl
  Resources/Locale/pt-BR/_Goobstation/job/job-supervisors.ftl
  Resources/Locale/pt-BR/disease/miasma.ftl
  Resources/Locale/pt-BR/job/job_names.ftl
  Resources/Locale/pt-BR/late-join/late-join.ftl
Labels: No C#, Merge Conflict

#22 uaiuaiuaiuaiauaiu foi finalmente essa porra
  Resources/Locale/pt-BR/communications/terror.ftl
  Resources/Locale/pt-BR/cuffs/components/cuffable-component.ftl
  Resources/Locale/pt-BR/cuffs/components/handcuff-component.ftl
  Resources/Locale/pt-BR/damage/damage-command.ftl
  Resources/Locale/pt-BR/damage/damage-examine.ftl
  Resources/Locale/pt-BR/damage/damage-force-say.ftl
  Resources/Locale/pt-BR/damage/damage-groups.ftl
  Resources/Locale/pt-BR/damage/damage-types.ftl
  Resources/Locale/pt-BR/damage/rejuvenate-verb.ftl
  Resources/Locale/pt-BR/damage/stamina.ftl
  Resources/Locale/pt-BR/defusable/examine.ftl
  Resources/Locale/pt-BR/defusable/popup.ftl
  Resources/Locale/pt-BR/defusable/verb.ftl
  Resources/Locale/pt-BR/detail-examinable/detail-examinable.ftl
  Resources/Locale/pt-BR/devices/clock.ftl
  Resources/Locale/pt-BR/devices/device-network.ftl
  Resources/Locale/pt-BR/devices/network-configurator.ftl
  Resources/Locale/pt-BR/dice/dice-component.ftl
  Resources/Locale/pt-BR/discord/round-notifications.ftl
  Resources/Locale/pt-BR/discord/vote-notifications.ftl
  Resources/Locale/pt-BR/disease/disease.ftl
  Resources/Locale/pt-BR/disease/miasma.ftl
  Resources/Locale/pt-BR/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/pt-BR/disposal/tube-connections-command.ftl
  Resources/Locale/pt-BR/disposal/tube/components/disposal-router-component.ftl
  Resources/Locale/pt-BR/disposal/tube/components/disposal-tagger-window.ftl
  Resources/Locale/pt-BR/disposal/tube/components/disposal-tube-component.ftl
  Resources/Locale/pt-BR/disposal/unit/components/disposal-unit-component.ftl
  Resources/Locale/pt-BR/door-remote/door-remote.ftl
  Resources/Locale/pt-BR/doors/components/airlock-component.ftl
  Resources/Locale/pt-BR/doors/door.ftl
  Resources/Locale/pt-BR/electrocution/electrocute-command.ftl
  Resources/Locale/pt-BR/electrocution/electrocuted-component.ftl
  Resources/Locale/pt-BR/escape-menu/ui/escape-menu.ftl
  Resources/Locale/pt-BR/escape-menu/ui/options-menu.ftl
  Resources/Locale/pt-BR/examine/examine-system.ftl
Labels: No C#
