Repository Gaby-Station/Gaby-Station, pull requests merged in 2024-12, with the labels that each got.

#32 Corrige plasma cutter e adiciona canos ao acesso da IA
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Pistol/PlasmaCutter.yml
Labels: No C#

#36 NCS Gax Update (no Holopads)
  Resources/Maps/_Gabystation/gaxstation.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: No C#, Changes: Map

#35 Port de Mobs do Tucano e PalmTree
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_1.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_2.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_3.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_4.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_5.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_6.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_7.ogg
  Resources/Audio/_Gabystation/Voice/Alternate/alternate_8.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_1.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_2.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_3.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_4.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_5.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_6.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_7.ogg
  Resources/Audio/_Gabystation/Voice/Thumper/thumper_8.ogg
  Resources/Audio/_Gabystation/Weapons/Xeno/monster_attack.ogg
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/alternate.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/alternate_alt.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/lost_soul.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/terror_spiders.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/unnamed_thumper.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/wendigo.yml
  Resources/Prototypes/_Gabystation/Entities/mob_faction.yml
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/green_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/green_dead.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/meta.json
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/princess_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/princess_dead.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/purple_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/purple_dead.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/queen_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/queen_dead.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/red_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/red_dead.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/white_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/white_dead.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/yellow_alive.png
  Resources/Textures/_Gabystation/Mobs/Aliens/TerrorSpiders/terror_spiders.rsi/yellow_dead.png
  Resources/Textures/_Gabystation/Mobs/Demons/alternate.rsi/alive.png
  Resources/Textures/_Gabystation/Mobs/Demons/alternate.rsi/dead.png
  Resources/Textures/_Gabystation/Mobs/Demons/alternate.rsi/meta.json
  Resources/Textures/_Gabystation/Mobs/Demons/unnamed_thumper.rsi/alive.png
  Resources/Textures/_Gabystation/Mobs/Demons/unnamed_thumper.rsi/dead.png
  Resources/Textures/_Gabystation/Mobs/Demons/unnamed_thumper.rsi/meta.json
  Resources/Textures/_Gabystation/Mobs/Demons/wendigo.rsi/alive.png
  Resources/Textures/_Gabystation/Mobs/Demons/wendigo.rsi/dead.png
  Resources/Textures/_Gabystation/Mobs/Demons/wendigo.rsi/meta.json
  Resources/Textures/_Gabystation/Mobs/Ghosts/lost_soul.rsi/icon.png
  Resources/Textures/_Gabystation/Mobs/Ghosts/lost_soul.rsi/lost.png
  Resources/Textures/_Gabystation/Mobs/Ghosts/lost_soul.rsi/meta.json
Labels: Changes: Sprites, No C#

#38 Bancos e Sofas!!1!
  Resources/Prototypes/SimpleStation14/benches.yml
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/arm_left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/arm_right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/arm_left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/arm_right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/corner.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/arm_left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/arm_right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/corner.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/right.png
Labels: Changes: Sprites, No C#

#42 Arruma sprite do pew
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
Labels: Changes: Sprites, No C#

#41 Adiciona Extended na votação de modo de jogo
  Resources/Prototypes/game_presets.yml
Labels: No C#

#40 Bufa a bengala do Representante NanoTrasen
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cane.yml
Labels: No C#

#43 Adiciona gas mixers e filters no acesso da IA e diminui o tamanho do plasma cutter
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Pistol/PlasmaCutter.yml
Labels: No C#

#46 [PORT] Comprar teg na cargo
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
Labels: No C#

#47 [PORT] EE Delta-V Port Tail Wagging
  Content.Server/Wagging/WaggingSystem.cs
  Resources/Audio/Einstein-Engines/Voice/Vulpkanin/attritbutions.yml
  Resources/Audio/Einstein-Engines/Voice/Vulpkanin/vulpscream1.ogg
  Resources/Audio/Einstein-Engines/Voice/Vulpkanin/vulpscream2.ogg
  Resources/Audio/Einstein-Engines/Voice/Vulpkanin/vulpscream3.ogg
  Resources/Audio/Einstein-Engines/Voice/Vulpkanin/vulpscream4.ogg
  Resources/Audio/Einstein-Engines/Voice/Vulpkanin/vulpscream5.ogg
  Resources/Locale/en-US/deltav/markings/vulpkanin.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_base.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_base_wag.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings_wag.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/tail_markings.rsi/corgi.png
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/tail_markings.rsi/dalmatian.png
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/tail_markings.rsi/meta.json
  Resources/Textures/Einstein-Engines/Interface/Actions/wagging.rsi/icon-on.png
  Resources/Textures/Einstein-Engines/Interface/Actions/wagging.rsi/icon.png
  Resources/Textures/Einstein-Engines/Interface/Actions/wagging.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_bell.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_bell_wag.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_bow.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_bow_wag.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_stripes_even.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_stripes_even_wag.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_stripes_odd.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_stripes_odd_wag.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_tip.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/basic_tail_tip_wag.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/felinid_tails.rsi/meta.json
Labels: Changes: Sprites

#48 [PORT] Porta impressora de documentos do Corvax
  Resources/Changelog/GabyChangelog.yml
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Locale/pt-BR/corvax/paper/doc-printer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Lathes/misc.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/panel.png
Labels: Changes: Sprites, No C#

#51 Pesquisa de Keybinds & Ortografia
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/pt-BR/escape-menu/ui/options-menu.ftl
Labels: Changes: UI

#54 Adiciona widget com a motd no lobby
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/LobbyBuletin.xaml
  Content.Client/Lobby/UI/LobbyBuletin.xaml.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Server/Motd/MOTDSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_Gabystation/LobbyBuletin/MsgMOTD.cs
  Resources/Locale/en-US/motd/motd.ftl
  Resources/Locale/pt-BR/motd/motd.ftl
Labels: Changes: UI, Status: Needs Review

#57 [PORT] Whatsapp (real)
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/DeltaV/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/DeltaV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/DeltaV/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/deltav/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/deltav/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/pt-BR/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/name_identifier_groups.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/DeltaV/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/DeltaV/Interface/VerbIcons/bell.svg
  Resources/Textures/DeltaV/Interface/VerbIcons/bell.svg.png
  Resources/Textures/DeltaV/Interface/VerbIcons/bell_muted.png
  Resources/Textures/DeltaV/Misc/program_icons.rsi/meta.json
  Resources/Textures/DeltaV/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#59 update gax
  Resources/Maps/_Gabystation/gaxstation.yml
  Resources/Prototypes/_Gabystation/Maps/gaxstation.yml
Labels: No C#, Changes: Map

#61 Nova estação Low-Pop - Falcon Station
  Resources/Maps/_Gabystation/Shuttles/cargo_falcon.yml
  Resources/Maps/_Gabystation/Shuttles/emergency_strain.yml
  Resources/Maps/_Gabystation/falcon.yml
  Resources/Prototypes/_Gabystation/Maps/falcon.yml
  Resources/map_attributions.txt
Labels: No C#, Changes: Map

#63 Tradução inicial do Guide Book
  Resources/Changelog/GabyChangelog.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/Guidebook/Antagonist/SpaceNinja.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: Status: Needs Review, Changes: No C#

#67 Tradução inicial do ''Server Info'' e ''GuideBook''
  Resources/Changelog/GabyChangelog.yml
  Resources/ServerInfo/Gameplay.txt
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Cargo/CargoBounties.xml
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/Guidebook/Command.xml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/AccessConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/References.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
  Resources/ServerInfo/Guidebook/Survival.xml
  Resources/ServerInfo/Guidebook/Writing.xml
  Resources/ServerInfo/Intro.txt
  Resources/ServerInfo/Sandbox.txt
Labels: Changes: No C#, S: Untriaged, size/L

#74 Falcon Update
  Resources/Maps/_Gabystation/falcon.yml
Labels: Changes: Map, size/XL, Changes: No C#, S: Untriaged
