Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-01, with the labels that each got.

#76 Buff da especie Diona, correção do npc do holoparasita, tradução de alguns sotaques
  Resources/Locale/pt-BR/accent/cowboy.ftl
  Resources/Locale/pt-BR/accent/german.ftl
  Resources/Locale/pt-BR/accent/italian.ftl
  Resources/Locale/pt-BR/accent/pirate.ftl
  Resources/Prototypes/Actions/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: Changes: No C#

#78 Woke Station 14 & Sotaque Xique-Xique
  Resources/Changelog/GabyChangelog.yml
  Resources/Locale/pt-BR/_Goobstation/accent/accents.ftl
  Resources/Locale/pt-BR/_Goobstation/accent/vulgar.ftl
  Resources/Locale/pt-BR/_lib.ftl
  Resources/Locale/pt-BR/preferences/humanoid-character-profile.ftl
  Resources/Locale/pt-BR/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/_Gabystation/Traits/speech.yml
  Resources/Prototypes/_Goobstation/Accents/word_replacements.yml
  Resources/Prototypes/_Goobstation/Traits/speech.yml
Labels: Changes: No C#

#82 Bruce Kelp Plushie
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Gabystation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Gabystation/Objects/Fun/toys.rsi/plushie_bruce.png
Labels: Changes: Sprites, Changes: No C#

#83 soco ingles aye
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Melee/Hand/socoingles.yml
  Resources/Textures/_Gabystation/Clothing/Hands/Gloves/knuckle.rsi/equipped-HAND.png
  Resources/Textures/_Gabystation/Clothing/Hands/Gloves/knuckle.rsi/icon.png
  Resources/Textures/_Gabystation/Clothing/Hands/Gloves/knuckle.rsi/inhand-left.png
  Resources/Textures/_Gabystation/Clothing/Hands/Gloves/knuckle.rsi/inhand-right.png
  Resources/Textures/_Gabystation/Clothing/Hands/Gloves/knuckle.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#90 Adiciona o BSO e o NTR pra Amber
  Resources/Prototypes/Maps/amber.yml
Labels: Changes: Map, Changes: No C#

#94 Changelog Test
  README.md
Labels: Changes: No C#

#97 Arruma tradução da vendmachine de salgadinhos
  Resources/Locale/pt-BR/Entities/Structures/Machines/vending_machines.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#105 Alien
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Resources/Locale/pt-BR/_Goobstation/game-ticking/game-presets/preset-dynamic.ftl
  Resources/Locale/pt-BR/_Shitmed/aductor/gamemode.ftl
  Resources/Locale/pt-BR/game-ticking/game-presets/preset-extended.ftl
  Resources/Locale/pt-BR/game-ticking/game-presets/preset-secret.ftl
  Resources/Locale/pt-BR/game-ticking/game-presets/preset-survival.ftl
  Resources/Locale/pt-BR/game-ticking/game-ticker.ftl
  Resources/Locale/pt-BR/lobby/lobby-gui.ftl
  Resources/Locale/pt-BR/lobby/lobby-state.ftl
  Resources/Locale/pt-BR/lobby/ui/lobby-character-preview-panel.ftl
  Resources/Locale/pt-BR/weapons/melee/melee.ftl
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Logo/lobby.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/_Gabystation/Interface/daSilva.png
  Resources/Textures/_Gabystation/LobbyScreens/alien1.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien2.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien3.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien5.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien6.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien7.webp
Labels: Changes: UI, S: Untriaged, size/M

#101 Diminui a quantidade de pronto necessaria para cada modo no dynamic
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
Labels: Changes: No C#, S: Untriaged

#106 Revert "Alien"
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Resources/Locale/pt-BR/_Goobstation/game-ticking/game-presets/preset-dynamic.ftl
  Resources/Locale/pt-BR/_Shitmed/aductor/gamemode.ftl
  Resources/Locale/pt-BR/game-ticking/game-presets/preset-extended.ftl
  Resources/Locale/pt-BR/game-ticking/game-presets/preset-secret.ftl
  Resources/Locale/pt-BR/game-ticking/game-presets/preset-survival.ftl
  Resources/Locale/pt-BR/game-ticking/game-ticker.ftl
  Resources/Locale/pt-BR/lobby/lobby-gui.ftl
  Resources/Locale/pt-BR/lobby/lobby-state.ftl
  Resources/Locale/pt-BR/lobby/ui/lobby-character-preview-panel.ftl
  Resources/Locale/pt-BR/weapons/melee/melee.ftl
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Logo/lobby.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/_Gabystation/Interface/daSilva.png
  Resources/Textures/_Gabystation/LobbyScreens/alien1.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien2.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien3.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien5.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien6.webp
  Resources/Textures/_Gabystation/LobbyScreens/alien7.webp
Labels: Changes: UI, S: Untriaged, size/M

#102 Revisa mais coisa (Beacons, ações do mimico, sotaque de cowboy)
  Resources/Locale/pt-BR/_Goobstation/navmap-beacons/station-beacons.ftl
  Resources/Locale/pt-BR/abilities/mime.ftl
  Resources/Locale/pt-BR/accent/accents.ftl
  Resources/Locale/pt-BR/accent/cowboy.ftl
  Resources/Locale/pt-BR/navmap-beacons/station-beacons.ftl
  Resources/Locale/pt-BR/navmap-beacons/station_map.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, size/M, S: Needs Review

#103 Adiciona o Procedimento Operacional Padrão da Gaby
  Resources/Locale/pt-BR/_Gabystation/guidebook/guides.ftl
  Resources/Prototypes/_Gabystation/Guidebook/sop.yml
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/ServerInfo/_Gabystation/Guidebook/POP.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPAlertas.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPComando.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPConduta.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPConfiscar.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPTransferencias.xml
Labels: Changes: No C#, S: Untriaged, size/L, S: Needs Review

#108 Mineradores de O2 e N2 podem ser comprados pela cargo.
  Resources/Prototypes/_Gabystation/Cargo/Crates/atmospherics.yml
  Resources/Prototypes/_Gabystation/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/_Gabystation/Flatpack/flatpack.yml
  Resources/Prototypes/_Gabystation/jukebox.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Audio

#109 Tira dynamic do vote
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/dynamic.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#112 Make MRP Great Again
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/_Gabystation/ServerCurrency/UI/CurrencyEui.cs
  Content.Server/_Goobstation/ServerCurrency/ServerCurrencySystem.cs
  Resources/Locale/pt-BR/_Gabystation/server-economy/balanceui.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/Necromorph/Necromorph.yml
  Resources/Prototypes/_Gabystation/GameRules/GabyEvents.yml
  Resources/Prototypes/_Goobstation/Entities/Supermatter/supermatter.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPAlertas.xml
Labels: Changes: Map, size/M

#113 [PORT] Teach a Lesson Objective por Lyndomen
  Content.Server/_DV/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/_DV/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Locale/en-US/_DV/objectives/conditions/teach-person.ftl
  Resources/Locale/pt-BR/_DV/objectives/conditions/teach-person.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: S: Untriaged, size/S

#114 [PORT] Add perma prisoner por youtissoum
  Resources/Locale/en-US/_Harmony/job/job-description.ftl
  Resources/Locale/en-US/_Harmony/job/job-names.ftl
  Resources/Locale/en-US/_Harmony/preferences/loadout-groups.ftl
  Resources/Locale/pt-BR/_Harmony/job/job-description.ftl
  Resources/Locale/pt-BR/_Harmony/job/job-names.ftl
  Resources/Locale/pt-BR/_Harmony/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cog.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Gabystation/Maps/falcon.yml
  Resources/Prototypes/_Gabystation/Maps/gamma.yml
  Resources/Prototypes/_Gabystation/Maps/gaxstation.yml
  Resources/Prototypes/_Goobstation/Maps/atlas.yml
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
  Resources/Prototypes/_Goobstation/Maps/europa.yml
  Resources/Prototypes/_Goobstation/Maps/flandhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/kettle.yml
  Resources/Prototypes/_Goobstation/Maps/lambda.yml
  Resources/Prototypes/_Goobstation/Maps/oasishighpop.yml
  Resources/Prototypes/_Goobstation/Maps/origin.yml
  Resources/Prototypes/_Goobstation/Maps/originhighpop.yml
  Resources/Prototypes/_Goobstation/Maps/submarine.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Harmony/Loadouts/Jobs/Security/perma_prisoner.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Harmony/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Harmony/Roles/Jobs/Security/perma_prisoner.yml
  Resources/Prototypes/_Harmony/Roles/play_time_trackers.yml
  Resources/Textures/Objects/Devices/pda.rsi/harmony-pda-prisoner.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: No C#, S: Untriaged, size/S

#115 Adiciona virgula
  Content.Server/_Goobstation/ServerCurrency/ServerCurrencySystem.cs
Labels: S: Untriaged, size/XS

#117 Telas do Lobby
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_Gabystation/LobbyScreens/council.webp
  Resources/Textures/_Gabystation/LobbyScreens/lavaland.webp
  Resources/Textures/_Gabystation/LobbyScreens/revolucao.webp
Labels: Changes: No C#, S: Untriaged, size/S

#119 Discord Ban Webhook
  Content.Server/Administration/Managers/BanManager.Discord.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/_Gabystation/CCVar/CVars.Gaby.cs
  Resources/Locale/pt-BR/_Gabystation/webhook/ban-webhook.ftl
Labels: S: Untriaged, size/M

#116 Corrige erros de MAKEPLURAL e MANY e adiciona funções para tradução
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/pt-BR/_EinsteinEngines/power/silicons.ftl
  Resources/Locale/pt-BR/_lib.ftl
  Resources/Locale/pt-BR/character-appearance/components/humanoid-appearance-component.ftl
  Resources/Locale/pt-BR/hands/hands-system.ftl
  Resources/Locale/pt-BR/identity/identity-system.ftl
  Resources/Locale/pt-BR/mind/components/mind-component.ftl
  Resources/Locale/pt-BR/nyanotrasen/species/species.ftl
  Resources/Locale/pt-BR/preferences/ui/humanoid-profile-editor.ftl
Labels: S: Untriaged, size/M, S: Needs Review
