Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-07, with the labels that each got.

#222 Correções para o audio da lei marcial
  Resources/Audio/_Gabystation/Announcements/Alerts/martial_law.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: Changes: No C#, S: Untriaged, Changes: Audio, size/XS

#228 Corrige traduções
  Resources/Locale/pt-BR/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Locale/pt-BR/cargo/price-gun-component.ftl
  Resources/Locale/pt-BR/components/base-computer-ui-component.ftl
Labels: Changes: No C#, S: Untriaged, size/S

#223 Adiciona mais PEDRADAS e BANGERS à Jukebox e ao Lobby
  Resources/Audio/_Gabystation/Jukebox/a_world_i_built_for_you.ogg
  Resources/Audio/_Gabystation/Jukebox/although_the_sky.ogg
  Resources/Audio/_Gabystation/Jukebox/amor_mafioso.ogg
  Resources/Audio/_Gabystation/Jukebox/anemoia.ogg
  Resources/Audio/_Gabystation/Jukebox/attributions.yml
  Resources/Audio/_Gabystation/Jukebox/baby_blue.ogg
  Resources/Audio/_Gabystation/Jukebox/bar_da_esquina.ogg
  Resources/Audio/_Gabystation/Jukebox/birds_dont_sing.ogg
  Resources/Audio/_Gabystation/Jukebox/black_knife.ogg
  Resources/Audio/_Gabystation/Jukebox/buddy_holly.ogg
  Resources/Audio/_Gabystation/Jukebox/calice.ogg
  Resources/Audio/_Gabystation/Jukebox/cant_get_over.ogg
  Resources/Audio/_Gabystation/Jukebox/clair_de_lune.ogg
  Resources/Audio/_Gabystation/Jukebox/feche_os_olhos.ogg
  Resources/Audio/_Gabystation/Jukebox/fly.ogg
  Resources/Audio/_Gabystation/Jukebox/hear_the_siren_song_call_of_death.ogg
  Resources/Audio/_Gabystation/Jukebox/i_want_you.ogg
  Resources/Audio/_Gabystation/Jukebox/impacto.ogg
  Resources/Audio/_Gabystation/Jukebox/invisible.ogg
  Resources/Audio/_Gabystation/Jukebox/its_tv_time.ogg
  Resources/Audio/_Gabystation/Jukebox/katamari.ogg
  Resources/Audio/_Gabystation/Jukebox/lady.ogg
  Resources/Audio/_Gabystation/Jukebox/lovers_rock.ogg
  Resources/Audio/_Gabystation/Jukebox/nao_te_esquecerei.ogg
  Resources/Audio/_Gabystation/Jukebox/pegando_onibus.ogg
  Resources/Audio/_Gabystation/Jukebox/primeiro_baile.ogg
  Resources/Audio/_Gabystation/Jukebox/raise_up_your_bat.ogg
  Resources/Audio/_Gabystation/Jukebox/roundabout.ogg
  Resources/Audio/_Gabystation/Jukebox/ruder_buster.ogg
  Resources/Audio/_Gabystation/Jukebox/summer.ogg
  Resources/Audio/_Gabystation/Jukebox/taking_whats_not_yours.ogg
  Resources/Audio/_Gabystation/Jukebox/the_man_who_sold_the_world.ogg
  Resources/Audio/_Gabystation/Jukebox/the_place_where_it_rained.ogg
  Resources/Audio/_Gabystation/Jukebox/the_world_looks_red.ogg
  Resources/Audio/_Gabystation/Jukebox/vou_pra_santa_catarina.ogg
  Resources/Audio/_Gabystation/Jukebox/welcome_to_the_green_room.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Gabystation/jukebox.yml
Labels: Changes: No C#, size/M, S: Needs Review, Changes: Audio

#224 [Music bounty] Adiciona novas músicas
  Resources/Audio/_Gabystation/Jukebox/attributions.yml
  Resources/Audio/_Gabystation/Jukebox/cumade_e_cumpade.ogg
  Resources/Audio/_Gabystation/Jukebox/estrada_da_vida.ogg
  Resources/Audio/_Gabystation/Jukebox/som_de_cristal.ogg
  Resources/Prototypes/_Gabystation/jukebox.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Audio

#230 Revert "Voicechat (#3202)"
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Goobstation.Client/Entry/EntryPoint.cs
  Content.Goobstation.Client/IoC/ContentGoobClientIoC.cs
  Content.Goobstation.Client/Voice/IVoiceChatManager.cs
  Content.Goobstation.Client/Voice/VoiceChatClientManager.cs
  Content.Goobstation.Client/Voice/VoiceStreamManager.cs
  Content.Goobstation.Common/CCVar/CCVars.Goob.cs
  Content.Goobstation.Server/Entry/EntryPoint.cs
  Content.Goobstation.Server/IoC/ServerGoobContentIoC.cs
  Content.Goobstation.Server/Voice/IVoiceChatServerManager.cs
  Content.Goobstation.Server/Voice/VoiceChatServerManager.cs
  Content.Goobstation.Server/Voice/VoiceChatSystem.cs
  Content.Goobstation.Shared/Voice/VoiceChatNetMessage.cs
  Directory.Packages.props
  Resources/Locale/en-US/_Goobstation/voice.ftl
Labels: Changes: UI, S: Untriaged, size/L

#231 AAAAA
  Content.Goobstation.Server/Content.Goobstation.Server.csproj
Labels: Changes: No C#, S: Untriaged, size/XS

#233 Remove entrada da changelog
  Resources/Changelog/GabyChangelog.yml
Labels: Changes: No C#, S: Untriaged, size/S

#234 Corrige `BanManager.cs`
  Content.Server/Administration/Managers/BanManager.cs
Labels: S: Untriaged, size/XS

#243 Altera a shutte de mineração
  Content.Server/_Lavaland/Shuttles/Systems/DockingConsoleSystem.cs
  Resources/Maps/_Gabystation/Shuttles/mining.yml
  Resources/Maps/_Lavaland/mining.yml
  Resources/Prototypes/_Lavaland/Entities/Structures/airlocks.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/M

#248 Fix na shuttle da mining
  Resources/Maps/_Gabystation/Shuttles/mining.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: Changes: Map, Changes: No C#, size/M

#249 Mudança no PTL
  Resources/Prototypes/_Goobstation/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/engineering.yml
Labels: Changes: No C#, S: Untriaged, size/S

#258 Adiciona a estação Tramstation!
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Gabystation/tram.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Gabystation/Maps/tram.yml
  Resources/map_attributions.txt
Labels: Changes: Map, size/XL, S: Untriaged

#254 Tira o Barratry da rotação de mapas
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Goobstation/Maps/barratry.yml
Labels: Changes: Map, Changes: No C#, size/S

#252 Porta as armas MA56XF e MX3-R do Andrômeda.
  Resources/Locale/pt-BR/Entities/Objects/Weapons/Guns/Pistols/pistols.ftl
  Resources/Locale/pt-BR/Entities/Objects/Weapons/Guns/Rifles/rifles.ftl
  Resources/Locale/pt-BR/_Andromeda/Entities/Objects/Weapons/Guns/guns.ftl
  Resources/Locale/pt-BR/_Gabystation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Weapons/Guns/Pistol/MX3R.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Weapons/Guns/Rifles/MA56XF.yml
  Resources/Prototypes/_Gabystation/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Gabystation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Gabystation/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/base.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/bolt-open.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/equipped-BELT.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/mag-0.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Pistol/mx3r.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/base.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/bolt-open.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/equipped-BACKPACK.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/inhand-right.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/mag-0.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/wielded-inhand-left.png
  Resources/Textures/_Andromeda/Objects/Weapons/Guns/Rifles/ma56xf.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/M

#270 arruma mais de 70 erros de linter
  Content.Server/Bible/BibleUserSystem.cs
  Content.Server/GameTicking/Rules/Components/BloodCultRuleComponent.cs
  Content.Shared/Bible/Components/BibleComponent.cs
  Resources/Locale/en-US/_Funkystation/blood-cult-fix.ftl
  Resources/Locale/en-US/_Funkystation/funky-hot-fixes.ftl
  Resources/Locale/en-US/_Starlight/hot-fix.ftl
  Resources/Locale/pt-BR/_Funkystation/funky-hot-fixes.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/Packs/docPrinter.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Recipes/Lathes/printer.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/Vampire/vampire-powers.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Security/security.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_EstacaoPirata/Mobs/Species/Daengati.yml
  Resources/Prototypes/_Funkystation/BloodCult/Mobs/constructs.yml
  Resources/Prototypes/_Funkystation/BloodCult/Recipes/Construction/constructs.yml
  Resources/Prototypes/_Funkystation/BloodCult/Recipes/Construction/structures.yml
  Resources/Prototypes/_Funkystation/BloodCult/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/_Funkystation/Entities/Objects/Specific/revolucionary.yml
  Resources/Prototypes/_Funkystation/GameRules/game_director.yml
  Resources/Prototypes/_Funkystation/Store/currency.yml
  Resources/Prototypes/_Funkystation/Store/revolucionary_uplink.yml
  Resources/Prototypes/_Gabystation/Entities/Clothing/OuterClothing/CarverHardsuit.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/Necromorph/Necromorph.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Impacts/impacts.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Weapons/Guns/Rifles/SWSPulseRifle.yml
  Resources/Prototypes/_Gabystation/GameRules/GabyEvents.yml
  Resources/Prototypes/_Gabystation/Maps/falcon.yml
  Resources/Prototypes/_Gabystation/Maps/gamma.yml
  Resources/Prototypes/_Harmony/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Harmony/Loadouts/loadout_groups.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/_Goobstation/Objects/Shields/riotbulletshield.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Shields/riotbulletshield.rsi/metal-backpack.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/L
