Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-06, with the labels that each got.

#167 Law hotfix
  Resources/Changelog/GabyChangelog.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
Labels: Changes: No C#, size/S

#168 Fix Law
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
Labels: Changes: No C#

#169 Devil fix
  Resources/Locale/pt-BR/_Goobstation/devil/contracts/contract.ftl
  Resources/Prototypes/_Goobstation/Devil/clauses.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/DevilClauses.xml
Labels: Changes: No C#, S: Untriaged, size/XS

#173 Correções de otimização da Lavaland
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/_Lavaland/Procedural/ruin_pools.yml
Labels: Changes: No C#, S: Untriaged, size/S

#174 [BOUNTY] Concerta o balançar da calda
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: Changes: No C#, S: Untriaged, size/M

#175 [BOUNTY] Mariposa podem voar
  Resources/Prototypes/Body/Parts/moth.yml
Labels: Changes: No C#, S: Untriaged, size/S

#62 Adiciona nomes alternativos para ocupações [NÃO DAR MERGE]
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml.cs
  Content.Server.Database/Migrations/Postgres/20241212015038_AltJobTitle.Designer.cs
  Content.Server.Database/Migrations/Postgres/20241212015038_AltJobTitle.cs
  Content.Server.Database/Migrations/Sqlite/20241212015023_AltJobTitle.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20241212015023_AltJobTitle.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Roles/JobAlternateTitlePrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_Gabystation/CCVar/CVars.Gaby.cs
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-cargo.ftl
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-command.ftl
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-engineering.ftl
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-med.ftl
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-sci.ftl
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-sec.ftl
  Resources/Locale/pt-BR/_Gabystation/job/job-names-alt-service.ftl
  Resources/Locale/pt-BR/_Goobstation/job/job-names.ftl
  Resources/Locale/pt-BR/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: UI, size/L

#179 Modifica Fumaça de Anomalia
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Changes: No C#, S: Untriaged, size/S

#178 Volta do kit de armas do hos.
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, S: Untriaged, size/S

#181 Corrige erros de tradução
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/info/rules.ftl
  Resources/Locale/en-US/lobby/lobby-state.ftl
  Resources/Locale/en-US/round-end/round-end-summary-window.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Locale/pt-BR/disease/miasma.ftl
Labels: Changes: No C#, S: Untriaged

#183 Adiciona sprite do ID de químicos e químicas
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_Gabystation/Objects/Misc/id_cards.rsi/chemist-inhand-left.png
  Resources/Textures/_Gabystation/Objects/Misc/id_cards.rsi/chemist-inhand-right.png
  Resources/Textures/_Gabystation/Objects/Misc/id_cards.rsi/chemist.png
  Resources/Textures/_Gabystation/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S

#185 Corrige erros de RSI
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Mask/medicalsecurity.rsi/meta.json
Labels: Changes: No C#, S: Untriaged

#186 Corrige workflow dos RSI
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Mask/medicalsecurity.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_tails.rsi/Felinid_fluffy_tail_full.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/meta.json
  Resources/Textures/_Gabystation/Clothing/OuterClothing/Misc/BlueshieldJacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Gabystation/Clothing/OuterClothing/Misc/BlueshieldJacket.rsi/icon.png
  Resources/Textures/_Gabystation/Clothing/OuterClothing/Misc/BlueshieldJacket.rsi/inhand-left.png
  Resources/Textures/_Gabystation/Clothing/OuterClothing/Misc/BlueshieldJacket.rsi/inhand-right.png
  Resources/Textures/_Gabystation/Clothing/OuterClothing/Misc/BlueshieldJacket.rsi/meta.json
  Resources/Textures/_Gabystation/Mobs/Ghosts/lost_soul.rsi/meta.json
  Resources/Textures/_Gabystation/Projectiles/projectiles.rsi/beam_blue.png
  Resources/Textures/_Gabystation/Projectiles/projectiles.rsi/beam_cutter.png
  Resources/Textures/_Gabystation/Projectiles/projectiles.rsi/impact_blue.png
  Resources/Textures/_Gabystation/Projectiles/projectiles.rsi/muzzle_blue.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S

#187 Traduz o analisador de artefato e as reações
  Resources/Locale/pt-BR/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/pt-BR/xenoarchaeology/artifact-component.ftl
  Resources/Locale/pt-BR/xenoarchaeology/artifact-effects.ftl
Labels: Changes: No C#, S: Untriaged, size/M

#188 Otimiza `GabyLightCycleSystem`
  Content.Server/_Gabystation/LightCycle/GabyLightCycleSystem.cs
Labels: S: Untriaged, size/S

#192 Corrige port dos gases
  Content.Server/Atmos/Portable/ElectrolyzerSystem.cs
  Content.Server/Atmos/Reactions/MetalHydrogenReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
Labels: Changes: UI, S: Untriaged, size/S

#202 [PORT] Godo and Gocrazy plushies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/gocrazy-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/gocrazy-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/gocrazy.png
  Resources/Textures/Objects/Fun/toys.rsi/godo-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/godo-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/godo.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#207 Ports No EORG Popup from Delta-V (#555)
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml.cs
  Content.Client/DeltaV/RoundEnd/NoEorgPopupSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/en-US/deltav/roundend/no-eorg-popup.ftl
  Resources/Locale/pt-BR/deltav/roundend/no-eorg-popup.ftl
Labels: Changes: UI, S: Untriaged, size/M

#213 AA para controle remoto de comando
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: Changes: No C#, size/XS

#214 [Bounty] EXPLODAM A PORRA DO ABDUCTOR
  Content.Client/_Shitmed/Antags/Abductor/AbductorCameraConsoleBui.cs
  Content.Client/_Shitmed/Choice/UI/ChoiceControl.xaml.cs
  Content.Server/_Shitmed/Antags/Abductor/AbductorSystem.Actions.cs
  Content.Server/_Shitmed/Antags/Abductor/AbductorSystem.cs
  Content.Shared/_Shitmed/Antags/Abductor/AbductorCameraConsoleUI.cs
  Content.Shared/_Shitmed/Antags/Abductor/AbductorsComponents.cs
  Resources/Locale/en-US/_Shitmed/abductor/abductor-ui.ftl
  Resources/Prototypes/_Shitmed/Actions/abductor.yml
Labels: Changes: UI, S: Untriaged, size/M

#204 Revs: Open Revolt! (#702)
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/Revolutionary/RevolutionarySystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/Revolutionary/Components/ShowRevolutionaryIconsComponent.cs
  Content.Shared/Revolutionary/Revolutionary.Actions.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/en-US/_Funkystation/shuttle/fail_reasons.ftl
  Resources/Locale/en-US/_Goobstation/game-ticking/game-presets/presets-revolutionaries.ftl
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/_Funkystation/Actions/revs.yml
Labels: S: Untriaged, size/M, Prioridade Alta

#216 Lei Marcial Parte 2
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/AlertLevel/AlertLevelComponent.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/_Gabystation/MartialLaw/Commands.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Resources/Locale/pt-BR/_Gabystation/MartialLaw.ftl
  Resources/Locale/pt-BR/alert-levels/alert-levels.ftl
  Resources/Locale/pt-BR/communications/communications-console-component.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/_Gabystation/Guidebook/law.yml
  Resources/Prototypes/_Gabystation/Guidebook/sop.yml
  Resources/ServerInfo/_Gabystation/Guidebook/LeiMarcial.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POP.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPAlertas.xml
  Resources/ServerInfo/_Gabystation/Guidebook/POPMarcial.xml
Labels: Changes: UI, size/M

#218 [HOTFIX] Corrige erros de prototype
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/BluespaceGas/bluespace_gas.yml
  Resources/Prototypes/_Funkystation/game_presets.yml
Labels: Changes: No C#, S: Untriaged, size/S

#217 Correção de bug ancião de chatsan no locale BR
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: No C#, S: Untriaged, size/S
