Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-09, with the labels that each got.

#300 MALD PR LEI IA
  Resources/Locale/pt-BR/station-laws/laws.ftl
Labels: Changes: No C#, S: Untriaged

#302 Revert na Salv Shuttle Custom do Gaby
  Content.Server/_Lavaland/Shuttles/Systems/DockingConsoleSystem.cs
Labels: S: Untriaged, size/XS

#299 Heads playtime requirements alterados e +
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#, S: Untriaged, size/M

#297 Tradução das espécies + páginas de Shadowkin e Daengati (Guidebook)
  Resources/Locale/pt-BR/_DV/species/species.ftl
  Resources/Locale/pt-BR/_EinsteinEngines/species/species.ftl
  Resources/Locale/pt-BR/nyanotrasen/species/species.ftl
  Resources/Locale/pt-BR/species/species.ftl
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/Gingerbread.xml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/ServerInfo/Guidebook/Mobs/Resomi.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Tajaran.xml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
  Resources/ServerInfo/Guidebook/Mobs/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/Mobs/Yowie.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Chitinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Rodentia.xml
  Resources/ServerInfo/Guidebook/Mobs/_EinsteinEngines/Shadowkin.xml
  Resources/ServerInfo/Guidebook/Mobs/_EstacaoPirata/Daengati.xml
Labels: Changes: No C#, S: Untriaged, size/M

#305 [HOTFIX] Corrige mobs do gaby
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/alternate.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/alternate_alt.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/unnamed_thumper.yml
  Resources/Prototypes/_Gabystation/Entities/Mobs/NPCs/wendigo.yml
Labels: Changes: No C#, S: Untriaged, size/M

#308 Atualização do livro guia seguindo a PR #297
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/_EinsteinEngines/Shadowkin.xml
Labels: Changes: No C#, S: Untriaged, size/S

#307 Atualiza armas
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Locale/en-US/_Starlight/damage/damage-examine.ftl
Labels: S: Untriaged, size/M

#312 Corrige documento de Relatório de Turno
  Resources/Locale/pt-BR/_Gabystation/paper/station-report.ftl
Labels: Changes: No C#, S: Untriaged, size/S

#316 Adiciona bomba de calor
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpBoundUserInterface.cs
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml
  Content.Client/_Funkystation/Atmos/UI/GasHeatPumpWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/Components/HeatPumpComponent.cs
  Content.Server/_Funkystation/Atmos/Piping/Binary/EntitySystems/HeatPumpSystem.cs
  Content.Shared/_Funkystation/Atmos/Piping/Binary/Components/SharedHeatPumpComponent.cs
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Locale/pt-BR/Prototypes/Entities/Structures/Piping/Atmospherics/binary.ftl
  Resources/Locale/pt-BR/components/gas-pump-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Interface/Radial/RPD/pump_heat.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpHeat.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpHeat.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpHeat.png
Labels: Changes: Sprites, Changes: UI, size/M

#319 Nova tag para rules dos game directors
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
  Content.Goobstation.Server/StationEvents/SecretPlus/SecretPlusSystem.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Content.Server/_Gabystation/GabyConstants.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/pt-BR/game-ticking/game-ticker.ftl
  Resources/Prototypes/_Gabystation/tags.yml
Labels: S: Untriaged, size/M

#321 Revert "Lavaland buff"
  Resources/Prototypes/_Lavaland/Procedural/ruin_pools.yml
Labels: Changes: No C#, S: Untriaged, size/S

#323 Corrige bug do chat morrer
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Labels: Changes: UI, S: Untriaged, size/S

#326 Niku Hatsume plushie
  Resources/Audio/_Gabystation/Misc/Okarimono.ogg
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Gabystation/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Gabystation/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Gabystation/Objects/Fun/toys.rsi/plushie_miku.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S, Changes: Audio

#327 Novas Artes de Lobby
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_Gabystation/LobbyScreens/bingle.webp
  Resources/Textures/_Gabystation/LobbyScreens/clown.webp
  Resources/Textures/_Gabystation/LobbyScreens/gabycore.webp
  Resources/Textures/_Gabystation/LobbyScreens/gabyone.webp
  Resources/Textures/_Gabystation/LobbyScreens/gabywars.webp
  Resources/Textures/_Gabystation/LobbyScreens/nicol.webp
  Resources/Textures/_Gabystation/LobbyScreens/selene.webp
Labels: Changes: No C#, S: Untriaged, size/M, S: Needs Review

#341 Build Fix
  Content.Client/MalfAI/MalfAiBorgsBoundUserInterface.cs
  Content.Client/MalfAI/MalfAiBorgsWindow.xaml.cs
  Content.Client/MalfAI/MalfAiCpuHudSystem.cs
  Content.Client/MalfAI/MalfAiDoomsdayRippleClientSystem.cs
  Content.Client/MalfAI/MalfAiHudSystem.cs
  Content.Client/MalfAI/MalfAiLawEui.cs
  Content.Client/MalfAI/MalfAiViewportSystem.cs
  Content.Client/MalfAI/MalfAiViewportWindow.xaml.cs
  Content.Client/MalfAI/Overlays/MalfAiDoomsdayRippleOverlay.cs
  Content.Client/MalfAI/Theme/MalfEffectOverlay.cs
  Content.Client/MalfAI/Theme/MalfUiTheme.cs
  Content.Client/MalfAI/VoiceModulator/MalfVoiceModulatorSystem.cs
  Content.Client/MalfAI/VoiceModulator/MalfVoiceModulatorWindow.xaml.cs
  Content.Client/Power/APC/ApcBoundUserInterface.cs
  Content.Client/Power/APC/UI/ApcMenu.xaml.cs
  Content.Client/Robotics/UI/RoboticsConsoleBoundUserInterface.cs
  Content.Client/Robotics/UI/RoboticsConsoleWindow.xaml.cs
  Content.Client/Silicons/StationAi/StationAiFixerConsoleBoundUserInterface.cs
  Content.Client/Silicons/StationAi/StationAiFixerConsoleConfirmationDialog.xaml.cs
  Content.Client/Silicons/StationAi/StationAiFixerConsoleSystem.cs
  Content.Client/Silicons/StationAi/StationAiFixerConsoleWindow.xaml.cs
  Content.Client/Silicons/StationAi/StationAiOverlay.cs
  Content.Client/Silicons/StationAi/StationAiSystem.cs
  Content.Server/MalfAI/MalfAiApcSiphonSystem.cs
  Content.Server/MalfAI/MalfAiDoomsdayRippleSystem.cs
  Content.Server/MalfAI/MalfAiGyroscopeSystem.cs
  Content.Server/MalfAI/MalfAiOverrideSystem.cs
  Content.Server/Robotics/Systems/CyborgLawReceiverSystem.cs
  Content.Server/Robotics/Systems/RoboticsConsoleSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
Labels: Changes: UI, S: Untriaged, size/M

#338 Alterado buscas desconsiderando acentuação
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Shared/_Gabystation/Text/TextHelpers.cs
Labels: Changes: UI, S: Untriaged, size/S, S: Needs Review

#342 🃏 Totally Not Uno
  Content.Client/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Client/_EstacaoPirata/Cards/CardSpriteSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
  Resources/Locale/en-US/_Gabystation/nuno.ftl
  Resources/Locale/pt-BR/_Gabystation/nuno.ftl
  Resources/Prototypes/_Gabystation/Entities/Objects/Fun/not_uno.yml
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/background-blue.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/background-green.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/background-red.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/background-yellow.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/background.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/block.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/border.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/box.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/box_open.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/card_fourcolors.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/meta.json
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num0.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num1.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num2.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num3.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num4.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num5.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num6.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num7.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num8.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/num9.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/plus2.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/plus4.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/reverse.png
  Resources/Textures/_Gabystation/Objects/Fun/cards-totallynotuno.rsi/singlecard_down.png
Labels: Changes: Sprites, size/L

#347 Revert "Alterado buscas desconsiderando acentuação"
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Shared/_Gabystation/Text/TextHelpers.cs
Labels: Changes: UI, S: Untriaged, size/S
