Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-02, with the labels that each got.

#120 [PORT] Hostage Ops de beck-thompson
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/_DV/Antag/NukieOperationComponent.cs
  Content.Server/_DV/Antag/NukieOperationSystem.cs
  Content.Server/_DV/Objectives/Components/KidnapHeadsConditionComponent.cs
  Content.Server/_DV/Objectives/Components/NukeStationConditionComponent.cs
  Content.Server/_DV/Objectives/Systems/KidnapHeadsConditionSystem.cs
  Content.Server/_DV/Objectives/Systems/NukeStationConditionSystem.cs
  Content.Shared/_DV/Antag/NukieOperationPrototype.cs
  Content.Shared/_DV/Implants/AddComponentsImplant/AddComponentsImplantComponent.cs
  Content.Shared/_DV/Implants/AddComponentsImplant/AddComponentsImplantSystem.cs
  Content.Shared/_DV/Implants/AddFactions/AddFactionsImplantComponent.cs
  Content.Shared/_DV/Implants/AddFactions/AddFactionsImplantSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/popups/nukeHostagepopup.ftl
  Resources/Locale/en-US/_DV/nukie-operations/operations.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopupsNukeHostage.yml
  Resources/Prototypes/_DV/Objectives/nukies.yml
  Resources/Prototypes/_DV/ai_factions.yml
  Resources/Prototypes/_Goobstation/GameRules/Dynamic/roundstart.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/ai_factions.yml
Labels: S: Untriaged, size/M

#122 Resprite ícone da algema
  Resources/Textures/Objects/Misc/handcuffs.rsi/handcuff.png
  Resources/Textures/Objects/Misc/handcuffs.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/XS

#121 Resprite alguns alertas da IU e a sprite do IPC
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_box.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_box_open.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_empty.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_full.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_half.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_low.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_box_open.png
  Resources/Textures/Interface/Alerts/Pull/pulled.png
  Resources/Textures/Interface/Alerts/Pull/pulling.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_co2.png
  Resources/Textures/Interface/Alerts/breathing.rsi/not_enough_oxy.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/alive.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/critical.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/dead.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_critical.rsi/critical.png
  Resources/Textures/Interface/Alerts/human_critical.rsi/meta.json
  Resources/Textures/Interface/Alerts/human_dead.rsi/dead.png
  Resources/Textures/Interface/Alerts/internals.rsi/internal0.png
  Resources/Textures/Interface/Alerts/internals.rsi/internal1.png
  Resources/Textures/Interface/Alerts/internals.rsi/internal2.png
  Resources/Textures/Interface/Alerts/internals.rsi/meta.json
  Resources/Textures/Interface/Alerts/pressure.rsi/highpressure1.png
  Resources/Textures/Interface/Alerts/pressure.rsi/highpressure2.png
  Resources/Textures/Interface/Alerts/pressure.rsi/lowpressure1.png
  Resources/Textures/Interface/Alerts/pressure.rsi/lowpressure2.png
  Resources/Textures/Interface/ItemStatus/Bullets/chambered.png
  Resources/Textures/Interface/ItemStatus/Bullets/chambered_rotated.png
  Resources/Textures/Interface/ItemStatus/Bullets/empty.png
  Resources/Textures/Interface/ItemStatus/Bullets/normal.png
  Resources/Textures/Interface/ItemStatus/Bullets/small.png
  Resources/Textures/Interface/ItemStatus/Bullets/tiny.png
  Resources/Textures/Interface/Misc/pointing.rsi/pointing.png
  Resources/Textures/Interface/Misc/progress_bar.rsi/icon.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/full.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/head_f.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/head_m.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/l_arm.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/l_foot.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/l_hand.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/l_leg.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/r_arm.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/r_foot.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/r_hand.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/r_leg.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/torso_f.png
  Resources/Textures/_EinsteinEngines/Mobs/Species/IPC/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/S

#123 Novas músicas pro Lobby, desativa algumas.
  Resources/Audio/_Gabystation/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Gabystation/jukebox.yml
Labels: Changes: No C#, S: Untriaged, size/S

#126 Resprite os ícones de admin notes
  Resources/Textures/Interface/AdminNotes/high_button.png
  Resources/Textures/Interface/AdminNotes/medium_button.png
  Resources/Textures/Interface/AdminNotes/message.png
  Resources/Textures/Interface/AdminNotes/minor_button.png
  Resources/Textures/Interface/AdminNotes/none_button.png
  Resources/Textures/Interface/AdminNotes/watchlist.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/XS

#125 Documento Printador funcional
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: No C#, S: Untriaged

#127 Diminui a quantidade de eventos no secret
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#132 Revert "Tanquedereagente"
  Resources/Audio/Ambience/ambiatmos.ogg
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Textures/Objects/Specific/Chemistry/jug.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-4.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-5.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-6.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-4.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-5.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-6.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente1.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente2.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente3.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente4.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente5.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente6.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, Changes: Audio

#134 dessa vez ta certo, tenho certeza
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-4.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-5.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left-fill-6.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-4.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-5.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right-fill-6.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente1.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente2.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente3.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente4.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente5.png
  Resources/Textures/Objects/Specific/Chemistry/tank.rsi/tanquedereagente6.png
Labels: Changes: Sprites, Changes: No C#, size/M
