Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-10, with the labels that each got.

#353 Malf-Gyroscope
  Content.Server/MalfAI/MalfAiGyroscopeSystem.cs
Labels: S: Untriaged, size/S

#354 Vends Pagas [Economia]
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/_Gabystation/CartridgeLoader/Cartridges/NanoBankCartridgeSystem.cs
  Content.Server/_Gabystation/Economy/EconomyManager.Events.cs
  Content.Server/_Gabystation/Economy/EconomyManagerSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
  Resources/Locale/en-US/vending-machines/vending-machine-component.ftl
  Resources/Locale/pt-BR/vending-machines/vending-machine-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: UI, S: Untriaged, size/M

#349 [Bounty] Ajustar vida de membros
  Resources/Prototypes/Body/Parts/base.yml
Labels: Changes: No C#, S: Untriaged, size/S

#357 Add NUNO box to vending machine
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Fun/not_uno.yml
Labels: Changes: No C#, S: Untriaged, size/S

#360 Remove Revs
  Resources/Prototypes/_Goobstation/GameRules/secretplus.yml
Labels: Changes: No C#, S: Untriaged, size/S

#359 Adiciona Pelucia Kiaara Warden (Sprites feitas por Lynchantiure)
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Gabystation/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Gabystation/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Gabystation/Objects/Fun/Plushies/kiiara_warden.rsi/equipped-HELMET.png
  Resources/Textures/_Gabystation/Objects/Fun/Plushies/kiiara_warden.rsi/inhand-left.png
  Resources/Textures/_Gabystation/Objects/Fun/Plushies/kiiara_warden.rsi/inhand-right.png
  Resources/Textures/_Gabystation/Objects/Fun/Plushies/kiiara_warden.rsi/kiiara.png
  Resources/Textures/_Gabystation/Objects/Fun/Plushies/kiiara_warden.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/S

#358 [PORT] FOGO!!! AHHHHH!!
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Atmos/Hotspot.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/Atmos/TileFireEvent.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Textures/Effects/fire.rsi/4.png
  Resources/Textures/Effects/fire.rsi/5.png
  Resources/Textures/Effects/fire.rsi/6.png
  Resources/Textures/Effects/fire.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M
