Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-08, with the labels that each got.

#267 Update da CentCom
  Resources/Maps/centcomm.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/M

#264 Falcon is back!!!!
  Resources/Maps/_Gabystation/falcon.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Gabystation/Maps/falcon.yml
Labels: Changes: Map, size/XL, Changes: No C#, S: Untriaged

#274 Tradução Teste
  Resources/Locale/pt-BR/inventory/components/slot-block-component.ftl
  Resources/Locale/pt-BR/inventory/item-status.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#278 Remove Train do vote (de novo)
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XS

#281 Random Centcomm
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Resources/Maps/_Gabystation/Centcomms/oldComm.yml
  Resources/Maps/_Gabystation/Centcomms/summerComm.yml
  Resources/Maps/centcomm.yml
  Resources/Prototypes/_Gabystation/Maps/Centcomms/oldComm.yml
  Resources/Prototypes/_Gabystation/Maps/Centcomms/summerComm.yml
  Resources/Prototypes/_Gabystation/centcomm_weights.yml
Labels: Changes: Map, size/XL, S: Untriaged

#283 fix: Corrige bug da cc
  Resources/Prototypes/_Gabystation/centcomm_weights.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#288 Remove capacitor de matter bin das máquinas da atmos
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: Changes: No C#, S: Untriaged, size/S

#290 [Music bounty] CHURRASCO BOM CHIMARRÃO
  Resources/Audio/_Gabystation/Lobby/attributions.yml
  Resources/Audio/_Gabystation/Lobby/do_fundo_da_grota.ogg
  Resources/Audio/_Gabystation/Lobby/e_disso_que_o_velho_gosta.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Gabystation/jukebox.yml
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Audio

#294 Adiciona anestesia básica na caixa cirurgica
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
Labels: Changes: No C#, size/XS
