Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-03, with the labels that each got.

#135 Adicionando a musica Caraca Muleke e Calma Vida na jukebox
  Resources/Audio/_Gabystation/Jukebox/CalmaVida.ogg
  Resources/Audio/_Gabystation/Jukebox/CaracaMuleke.ogg
  Resources/Prototypes/_Gabystation/jukebox.yml
Labels: Changes: No C#, S: Untriaged, Changes: Audio

#136 Tirando o mainDicipline da sci fazendo com que assim consiga desbloquear todas as pesquisas dos tier 3
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: S: Untriaged, size/S

#138 Tradução ert e omicron
  Resources/Audio/Misc/epsilon.ogg
  Resources/Audio/Misc/old_epsilon.ogg
  Resources/Changelog/GabyChangelog.yml
  Resources/Locale/pt-BR/_Goobstation/station-events/admeme/centralcommand.ftl
  Resources/Locale/pt-BR/alert-levels/alert-levels.ftl
Labels: Changes: No C#, S: Untriaged, size/S, Changes: Audio

#140 Remaps com holopads (cluster, gax e packed)
  Resources/Maps/_Gabystation/cluster.yml
  Resources/Maps/_Gabystation/gaxstation.yml
  Resources/Maps/_Gabystation/packed.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/_Goobstation/Maps/cluster.yml
Labels: Changes: Map, Changes: No C#

#139 Adiciona mapa remapeado do saltern do gabystation (PRONTO PARA MERGE)
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/_Gabystation/Maps/saltern.yml
Labels: Changes: Map, size/XL, Changes: No C#, S: Untriaged

#141 dado do caos PR
  Content.Server/Dice/FateDice/FateDiceComponent.cs
  Content.Server/Dice/FateDice/FateDiceSystem.cs
  Content.Server/EntityEffects/Effects/RemoveCogchampAccent.cs
  Content.Server/StationEvents/Components/BabelTowerRuleComponent.cs
  Content.Server/StationEvents/Events/BabelTowerRule.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GameRuleArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GibArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TurnIntoBlobArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TurnIntoHereticArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TurnIntoLingArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TurnIntoRevLeaderArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TurnIntoThiefArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TurnIntoZombieArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/GameRuleArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/GibArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/SpawnArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoBlobArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoHereticArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoLingArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoRevLeaderArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoThiefArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoZombieArtifactSystem.cs
  Content.Shared/Dice/DiceRollEvent.cs
  Content.Shared/Dice/SharedDiceSystem.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/pt-BR/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: S: Untriaged, size/M

#143 Sala do BSO e do Assistente Administrativo para a Saltern PR (Pronto para merge)
  Resources/Maps/_Gabystation/saltern.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged

#137 Volta da whitelist para botton bun.
  Resources/Changelog/GabyChangelog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
Labels: Changes: No C#, S: Untriaged, size/S

#145 correção de sprite do PDA do assistente administrativo
  Resources/Textures/_Gabystation/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Gabystation/Objects/Devices/pda.rsi/pda.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/XS

#146 Corrige Lag (provavelmente)
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
Labels: Changes: No C#, S: Untriaged, size/S

#144 Remapping da Perma Brig da Saltern
  Resources/Changelog/GabyChangelog.yml
  Resources/Maps/_Gabystation/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, size/XL, Changes: No C#, S: Untriaged

#149 Arruma Upstream Merge de 30/03/2025
  Content.Server/Mind/MindSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoBlobArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoHereticArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TurnIntoLingArtifactSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
Labels: S: Untriaged, size/S
