Repository Gaby-Station/Gaby-Station, pull requests merged in 2025-05, with the labels that each got.

#155 Firelock temperature and pressure warning lights (#28339)
  Content.Client/Doors/FirelockSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/Doors/Components/FirelockComponent.cs
  Content.Shared/Doors/Systems/SharedFirelockSystem.cs
  Resources/Locale/en-US/atmos/firelock-component.ftl
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/base_pressure_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/base_temperature_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/deny.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/locked.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/pressure_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/pressure_unlit_flat.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/temperature_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/temperature_unlit_flat.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/pressure_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/firelock.rsi/temperature_unlit.png
  Resources/Textures/Structures/Doors/edge_door_hazard.rsi/meta.json
  Resources/Textures/Structures/Doors/edge_door_hazard.rsi/pressure_unlit.png
  Resources/Textures/Structures/Doors/edge_door_hazard.rsi/temperature_unlit.png
Labels: Changes: Sprites, S: Untriaged, size/M

#157 Mexe no Game director
  Content.Goobstation.Server/StationEvents/Components/GameDirectorComponent.cs
  Content.Goobstation.Server/StationEvents/GameDirectorSystem.cs
  Content.Goobstation.Server/StationEvents/Metric/CombatMetricSystem.cs
  Content.Goobstation.Server/StationEvents/Metric/Components/CombatMetricComponent.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/_Funkystation/GameDirectors/SecretDirectorComponent.cs
  Content.Server/_Funkystation/GameDirectors/SecretDirectorSystem.cs
  Content.Shared/_Funkystation/CCVars/CCVars.Funky.cs
  Resources/Locale/en-US/_Funkystation/game-ticking/game-presets/preset-apocalypse.ftl
  Resources/Locale/en-US/_Funkystation/game-ticking/game-presets/preset-drunk.ftl
  Resources/Locale/en-US/_Funkystation/game-ticking/game-presets/preset-secret-director.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/CosmicCult/events.yml
  Resources/Prototypes/_Funkystation/GameRules/game_director.yml
  Resources/Prototypes/_Funkystation/GameRules/roundstart.yml
  Resources/Prototypes/_Funkystation/director_weights.yml
  Resources/Prototypes/_Funkystation/game_presets.yml
  Resources/Prototypes/_Funkystation/tags.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/GameRules/game_director.yml
  Resources/Prototypes/_Goobstation/GameRules/midround.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/Prototypes/_Goobstation/Wizard/gamerules_wizard.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/game_presets.yml
Labels: S: Untriaged, size/M

#158 Job Icons [PORT]
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Starlight/UserInterface/RichText/IconTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: Changes: UI, S: Untriaged, size/M

#162 Tradução completa do devil (Diabo)
  Resources/Changelog/GabyChangelog.yml
  Resources/Locale/pt-BR/_Goobstation/devil/cheatdeath/cheatdeath.ftl
  Resources/Locale/pt-BR/_Goobstation/devil/contracts/contract.ftl
  Resources/Locale/pt-BR/_Goobstation/devil/currency.ftl
  Resources/Locale/pt-BR/_Goobstation/devil/devil.ftl
  Resources/Locale/pt-BR/_Goobstation/devil/grip.ftl
  Resources/Locale/pt-BR/_Goobstation/devil/roles/antags.ftl
  Resources/Prototypes/_Goobstation/Actions/devil.yml
  Resources/Prototypes/_Goobstation/Devil/clauses.yml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/abandono.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/abusoDePoder.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/anterioridadeDoCrime.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/aplicacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/associacaoCriminosa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/calunia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/causalidade.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/coautoria.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/condutaInadequada.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/consumacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/contrabando.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/crimeImpossivel.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/desrespeitoAutoridade.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/difamacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/estelionato.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/evasaoPrisao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/exercicioDaFuncao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/falsidadeIdeologica.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/furto.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/homicidio.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/incompetencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/insubordinacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/insurreicao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/intencaoDoCrime.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/invasao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/irrelevancia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/legitimaDefesa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/lesaTrasen.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/lesaoCorporal.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/negligencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/obstrucaoJustica.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/ocultismo.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/omissaoAdministrativa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/omissaoDeSocorros.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/perturbacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/prevaricacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/producaoProibida.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/receptacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/reincidencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/resistencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/roubo.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/sabotagem.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/sequestro.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/tentativa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/traicaoCorporativa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/usurpacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/vandalismo.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Devil.xml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/DevilClauses.xml
Labels: Changes: No C#, size/M

#163 tradução completa do culto
  Resources/Locale/pt-BR/_DV/cosmiccult/abilities.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/adminverbs.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/alerts.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/cleansingsystem.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/contraband-severity.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/examine.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/ghostroles.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/glyphs.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/guides.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/influences.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/materials.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/monumentInterface.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/moods.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/names.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/radio_channels.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/reagenteffects.ftl
  Resources/Locale/pt-BR/_DV/cosmiccult/tileset.ftl
  Resources/Locale/pt-BR/alert-levels/alert-levels.ftl
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/monument.yml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCult.xml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCultDeconversion.xml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCultInfluences.xml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCultMonument.xml
Labels: Changes: No C#, S: Untriaged, size/M

#161 Rework da Space Law
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/abandono.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/abusoDePoder.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/anterioridadeDoCrime.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/aplicacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/associacaoCriminosa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/calunia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/causalidade.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/coautoria.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/condutaInadequada.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/consumacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/contrabando.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/crimeImpossivel.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/desrespeitoAutoridade.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/difamacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/estelionato.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/evasaoPrisao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/exercicioDaFuncao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/falsidadeIdeologica.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/furto.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/homicidio.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/incompetencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/insubordinacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/insurreicao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/intencaoDoCrime.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/invasao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/irrelevancia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/legitimaDefesa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/lesaTrasen.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/lesaoCorporal.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/negligencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/obstrucaoJustica.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/ocultismo.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/omissao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/omissaoAdministrativa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/omissaoDeSocorros.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/perturbacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/porteArtefato.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/prevaricacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/producaoProibida.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/receptacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/reincidencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/resistencia.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/roubo.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/sabotagem.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/sequestro.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/tentativa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/traicaoCorporativa.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/usurpacao.xml
  Resources/ServerInfo/_Gabystation/Guidebook/SpaceLawSubEntries/vandalismo.xml
Labels: Changes: No C#, size/L

#164 [HOTFIX] Gax
  Resources/Maps/_Gabystation/gaxstation.yml
  Resources/Prototypes/_Gabystation/Maps/gaxstation.yml
Labels: Changes: Map, size/XL, Changes: No C#

#165 [FIX] Corrige Guidebooks bugados
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
Labels: Changes: No C#, S: Untriaged, size/M, S: Needs Review
